<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>荷包君</title>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <header class="mb-5">
    <nav class="navbar navbar-light bg-light">
      <div>
        <a class="nav-brand h3" href="/">
           <img src="/imgs/logo-icon.png" alt="回首頁" title="回首頁">
           荷包君
        </a>
      </div>
      <div>
        <a href="/users/login" class="btn btn-primary">Login</a>
      </div>               
    </nav>
    
    {{!-- <div class="parallax-wrapper">
      <div class="parallax">
        <div class="overlay"></div>
        <p class="mb-4 h1">每個月總是看著空空的荷包發愁嗎？</p>
        <p class="mb-2 h4">你需要一個幫你存錢的記帳軟體！</p>
        <p class="mb-2 h4">透過記錄自己每月的花費，確實控管預算。</p>
        <p class="mb-2 h4">讓荷包君越來越胖！</p>
      </div>
    </div>  --}}
  </header>

  {{{body}}}

  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/ebc33479c3.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
