<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>荷包軍</title>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <header class="mb-5">
    <nav class="navbar navbar-light bg-light">
      <div>
        <a class="nav-brand h3" href="/">
           <img src="/imgs/logo-icon.png" alt="回首頁" title="回首頁">
           荷包軍
        </a>
      </div>
      <div>
        {{#if isAuthenticated}}
        <div class="d-flex align-items-center">
          <p class="mr-3 h6">歡迎回來 {{user.name}}</p>
          <a href="/records/budget" class="btn btn-primary mr-3">查看每月預算</a>
          <a href="/users/logout" class="btn btn-primary">登出</a>
        </div>
        {{else}}
        <a href="/users/login" class="btn btn-primary">登入</a>
        {{/if}}
      </div>               
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/ebc33479c3.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
