<div class="parallax-wrapper">
  <div class="parallax">
    <div class="overlay"></div>
    <p class="mb-4 h1">每個月總是看著空空的荷包發愁嗎？</p>
    <p class="mb-2 h4">你需要一個幫你存錢的記帳軟體！</p>
    <p class="mb-2 h4">透過記錄自己每月的花費，確實控管預算。</p>
    <p class="mb-2 h4">讓荷包君越來越胖！</p>
  </div>
</div> 

<div class="container mt-5">
  <div class="row">
    <div class="col-sm my-3">
      <div class="card advertise-card">
        <div class="img-wrapper">
          <img src="/imgs/promotion-1.jpg" alt="支出控管" title="支出控管" class="card-img-top"> 
        </div>
        <p class="h5 mt-5 card-content">顯示總金額，每月支出一目瞭然！守護荷包君你我有責。</p>
      </div>     
    </div>

    <div class="col-sm my-3">
      <div class="card advertise-card">
        <div class="img-wrapper">
          <img src="/imgs/promotion-2.jpg" alt="預算控管" title="預算控管" class="card-img-top">
        </div>
        <p class="h5 mt-5 card-content">訂出每月預算，控管支出，緊守荷包君完美Ｓ曲線。</p>
      </div>       
    </div>
    
    <div class="col-sm my-3">
      <div class="card advertise-card">
        <div class="img-wrapper">
          <img src="/imgs/promotion-3.png" alt="多樣分類" title="多樣分類" class="card-img-top">
        </div>
        <p class="h5 mt-5 card-content">多樣化分類標示，食衣住行通通有，抓出讓荷包君＂消風＂元兇。</p> 
      </div>    
    </div>
  </div>
  
  <div class="row">
    <a href="/users/register" class="btn btn-primary btn-lg mb-3 mt-5 mx-auto" role="button">馬上註冊體驗</a>
  </div>  
</div>
